{% extends 'base2.html' %}

{% block content %}
<section style="background-color: #2A2C2E;" class="home">
    <div class="text">
      <h2 style=" color:white; text-align: center; margin-bottom: 20px; margin-top: 20px;"><b>View Requests</b></h2>

    </div>
    <div class="max-w-xl mx-auto">
      <div
         class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
         >
      <div class="flex justify-between items-center mb-4">
         <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
            Request raised by you..
         </h3>
      </div>
      <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      {% for info in requests %}
      <div class="flex items-center space-x-4">
         <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
               Requested By: <b>{{info.manager}}</b><br>
            </p>
         </div>
      </div>
      Request Date: {{info.created_at}}<br>
      <div style="overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
              line-clamp: 1; 
      -webkit-box-orient: vertical;">
      <b>Request Status : </b> {{info.status}}<br>
   </div>
   <!-- Request for Employees: {{info.employees}}<br> -->

      <a style="color: black;" href = "{% url 'requestdetails' wid=info.id %}">View Details</a>
      <br>

      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
         <a style="color:black;" href = "{% url 'updaterequest' wid=info.id %}"><b>Edit</b></a>
         
      </td>
       <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
         <a style="color:black; margin-left: 300px;" href = "{% url 'deleterequest' wid=info.id %}"><b>Delete</b></a>
     </td>
      <div style="height: 2px; width: 500; background-color: black; border-radius: 10px; margin:10px 0px;"></div>
      {% endfor %}
    
    
</section>
{% endblock %}