<style>

   body{
       background-color: #2A2C2E;
       color: #f2f2f2;
   }
</style>

<body>

{% block content %}
<section class="home">
    <div class="text">
      <h2 style="color:#f2f2f2; text-align: center; margin-bottom: 20px; margin-top: 20px;"><b>All Requests </b></h2>

      <ul style="list-style-type: none; padding: 0; margin: 0;">
         {% for info in requests %}
             <li style="color:black; margin-bottom: 10px; margin-left: 20%; margin-right: 20%; padding: 10px; background-color: #f2f2f2; border-radius: 5px;">
                 <span style="font-weight: bold;">{{ project.id }} {{ project.name }}</span><br>
                 <span>Requested By: <b>{{info.manager}}</b></span><br>
                 <span>Request Date: {{info.created_at}}</span><br>
                 <span>Request Message : </b> {{info.message}}</span><br>
                 <!-- Display other employee details as needed -->
             </li>
         {% endfor %}
     </ul>
    </div>
    
     
    
    
</section>
{% endblock %}
</body>