{% extends 'base.html' %}

{% block content %}
<section style="background-color: #2A2C2E;" class="home">
    <div class="text">
        <h2 style="color:white; text-align: center; margin-bottom: 20px; margin-top: 20px;"><b>Create Leave Request</b></h2>

        <!-- Display error messages if invalid ID selected -->
        {% if messages %}
        <div style="color: red;" class="alert alert-danger" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="min-w-full ">
                            <thead class="bg-white border-b">
                                <tr>
                                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        <div class="text" style="font-size: 18px; padding:5px 0px; color:black;">Enter Details Here.</div>
                                    </th>
                                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        <a href="/employee/viewleaverequest"> <input type="submit" style="height:45px; width:200px; border-radius: 20px; background-color:black; color:white;" value="View Your Requests"></a>
                                    </th>
                                </tr>
                            </thead>
                            <form method="post">
                                {% csrf_token %}
                                <tbody>
                                    <!-- Employee ID -->
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            Employee ID
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            <div style="border: 1px solid black; width: min-content; height: min-content;">{{ form.employee }}</div>
                                        </td>
                                    </tr>
                                    <!-- Reason for Leave -->
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            Write Leave Reason
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            <div style="border: 1px solid black; width: min-content; height: min-content;">{{ form.reason }}</div>
                                        </td>
                                    </tr>
                                    <!-- Start Date -->
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            Start Date
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            {{ form.start_date }}
                                        </td>
                                    </tr>
                                    <!-- End Date -->
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            End Date
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            {{ form.end_date }}
                                        </td>
                                    </tr>
                                    <!-- Submit Button -->
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            <input type="submit" style="height:45px; width:150px; border-radius: 20px; background-color: black; color:white;" value="Submit">
                                        </td>
                                    </tr>
                                </tbody>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
